<footer>
    <ul class="main-links">
        <li>
            <ul class="sub-links">
                <li><h4>BuyIt</h4></li>
                <li>Subscribe</li>
                <li>Get offers</li>
            </ul>
        </li>
        <li>
            <ul class="sub-links">
                <li><h4>Support</h4></li>
                <li>admin@mail.com</li>
                <li>+91 0000000000</li>
            </ul>
        </li>
        <li>
            <ul class="sub-links">
                <li><h4>Account</h4></li>
                <li>My Account</li>
                <li>Cart</li>
                <li>Whishlist</li>
            </ul>
        </li>
        <li>
            <ul class="sub-links">
                <li><h4>Quick link</h4></li>
                <li>Privacy Policy</li>
                <li>Terms Of Use</li>
                <li>FAQ</li>
            </ul>
        </li>
    </ul>
    
</footer>

</body>
</html>