<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BuyIt</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("../partials/topmsg.ejs") %> 
    <%- include("../partials/navbar.ejs") %>
    <%- include("../partials/flash.ejs") %> 
    
  </body>
</html>
