<%- include("./layouts/header.ejs") %>

<section class="best-selling section-card">
  <div class="title">
    <div class="color-box"></div>
    <p class="title-name">Lost Some Where Else</p>
  </div>
  <div class="login">
    <h1><%= error.status %> | <%= error.message %></h1>

    <a href="/">you Visited Page Not Found.You May Go to Home Page</a>
  </div>
</section>

<%- include("./layouts/footer.ejs") %>
